[Unit]
Description=full-upgrade systray applet
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=@FULL_UPGRADE_EXEC@ --tray
Restart=on-failure
RestartSec=10

[Install]
WantedBy=graphical-session.target
