[Unit]
Description=full-upgrade systray applet
Description[pt_BR]=Ícone de bandeja do full-upgrade
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=%h/.local/bin/full-upgrade --tray
Restart=on-failure
RestartSec=10

[Install]
WantedBy=graphical-session.target
